<h1>This is the Home Page!</h1>

<li><a href="/">Home</a></li>
<li><a href="/secret/user">Secret</a></li>
<li><a href="/signup">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
