<h1>This is the Secret Page!</h1>

<h3>You really shouldn't be here... <%= username %>!</h3>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcOaecRhEte4E8DDUBCcxA60McU-qvNO-0l3KVwBc82aEtNZcX">

<li><a href="/">Home</a></li>
<li><a href="/secret/user">Secret</a></li>
<li><a href="/signup">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>