<h1>Sign Up</h1>

<form action="/signup" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<li><a href="/">Home</a></li>
<li><a href="/secret/user">Secret</a></li>
<li><a href="/signup">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>